.footer {
    background: #000;
    color: white;
    padding-bottom: 40px;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('../images/Yutu.Stu_Portfolio_K25.png');
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    clip-path: polygon(0 40px,
            33.3% 0,
            66.6% 40px,
            100% 0,
            100% 100%,
            0 100%);
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,
            transparent 0%,
            transparent 20%,
            rgba(0, 0, 0, 0.6) 60%,
            rgba(0, 0, 0, 0.8) 80%,
            rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
    z-index: 1;
}

.footer .container {
    position: relative;
    z-index: 2;
    width: 100%;
}

.footer-top {
    text-align: center;
    margin: 0 auto;
}

.footer-title {
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #F05A22;
}

.footer-description {
    margin-bottom: 20px;
}

.footer-button {
    display: flex;
    justify-content: center;
}

.footer-button .btn-with-icon {
    color: #ffffff;
    background: white;
}

.footer-button .btn-with-icon::before {
    background: black;
    border: solid 1px white;
}

.footer-button .btn-with-icon img {
    filter: brightness(0) invert(1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 60%;
    padding: 40px 0;
    border-top: 1px solid #fff;
    margin-top: 40px;
}

.footer-left {
    padding-left: 30px;
    flex: 0.5;
}

.footer-logo {
    width: 45%;
}

.footer-right {
    display: flex;
    flex: 0.5;
    gap: 30px;
}

.footer-column h4 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #ccc;
}

.footer-column ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-column {
    transition: color 0.3s ease;
    font-size: 14px;
}

.footer-column ul li a:hover {
    color: #ffffff;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}

.address-link {
    white-space: nowrap;
    display: block;
    width: 250px;
}

.footer-contact {
    margin-top: 15px;
}


@media (max-width: 480px) {
    .footer {
        padding: 40px 0 20px;
        min-height: 50vh;
    }

    .footer-title {
        font-size: 32px;
    }

    .footer-content {
        flex-direction: column;
        gap: 40px;
    }

}