.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles for the active slide */
/* .swiper-slide-active {
    opacity: 1;
    font-weight: bold;
} */

/* Styles for the next and previous slides (optional) */
/* .swiper-slide-next,
.swiper-slide-prev {
    opacity: 0.75;
} */